*, ::after, ::before{
  box-sizing: border-box;
  margin:0;
  padding:0; 
}

body  {
  font-family:'Times New Roman', Times, serif;
}

header  {
  position:relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  justify-content: space-between;
  font-weight: 600;
  color:#05050500;
  background-image: linear-gradient( #f8f8f8,#4749e7);
}

.language  {
  text-decoration: none;
}

.logo img  {
  position: absolute;
  transform: translate(100%, 0%);
  height:30px;
  width:30px;
  top: 5%;
  left:  45%;
}

.login  {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.login a  {
  padding:5px 10px;
  color: black;
  text-decoration: none;
  
}

.login>a:hover  {
  text-decoration: none;
 border-bottom: solid 3px blue;
 justify-content: center;
 color: blue;
}

.login li a  {
  text-decoration: none;
  font-family:sans-serif;
}

.main  {
  display: flex;
  width: 100%;
  height:100vh;
}

.main-left-container  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 400px);
  background-image: url('https://images.freecreatives.com/wp-content/uploads/2015/06/colorful-photography-art-widescreen-hd-wallpapers.jpg');
  background-repeat: no-repeat ;
  background-size: cover;
  z-index:1;
}

.main-left-container .main-left-element  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(175%, 0);
  width: 300px;
  background-color: #1758f0;
  color:#ffffff;
  padding: 10px;
  top: 0%;
    left: -20%;
  border-radius: 10px;
  z-index:2;
}

main  {
  display: flex;
  height:100vh;
}

.main-right-container  {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.login-form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px;
  line-height: 1.5em;
}
.login-form p  {
  margin: 5px 0;
}
.login-form .data-input  {
  width: 22em;
  margin-bottom: 7px;
  font-size: 1em;
}

.test-check  {
  display: flex;
  justify-content: space-between;
  width: 16em;
  margin: 5px 0;
}

.but-group  {
  display: flex;
  justify-content: space-around; 
  margin:0 5px;
}

.but  {
  padding:5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #b5c9f7;
  box-shadow:1px 1px #1758f0;
}

@media screen and (max-width:1100px)  {
  .main-left-container .main-left-element{
    display: none;
  }
}

.login-form  {
  padding: 0 10px;
}

.command-sign-up{
  font-weight: 800;
}
